body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: auto;
  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  overflow: auto;
  padding: 40px;
}

.sorting {
  margin-left: 5%;
}

table {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;
  width: 90%;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

thead {
  font-weight: bold;
}

img {
  margin-left: 10px;
  cursor: pointer;
}

.add_form {
  margin-left: 5%;
}

button {
  background: #4c4ffd;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  padding: 4px 15px;
  cursor: pointer;
  font-size: 14px;
}
button:hover {
  background: #1f26fc;
}
button:active {
  background: #0004ff;
}

input {
  margin-right: 10px;
}
